.wp-block-tabor-markdown-comment {
	color: #B4473C;

	&::before {
		content: "%%";
		left: -32px;
		opacity: 0.5;
		position: absolute;
	}

	&:after {
		// Remove the block selection outline of the inner block for this text block.
		display: none;
	}
}
